<section class="container">
    <h1>Modifier Ma ferme</h1>
    
    <%= render 'form', farm: @farm %>
    
    <%= link_to 'Voir ma ferme', @farm, class: 'mt-3' %> |
    <%= link_to 'Retour', farms_path, class: 'mt-3' %>

</section>  