<section class="container">
    <%= render 'breadcrumb' %>
  <h1 class="text-center farm-title py-5">Découvrez les producteurs près de chez vous</h1>
  <%= render "list" %>
</section>
<%= render 'ctaProducteur' %>
