<div class="m-5">
  <div class="container">
  <%= render 'breadcrumb' %>
    <h1 class="text-center fw-bold m-5">Découvrez les producteurs près de chez vous</h1>
    <%= render "list" %>
    <div class="row">
    </div>
  </div>
</div>
  <%= render 'ctaProducteur' %>
