<section class="container">
  <h1 class="text-center farm-title">Découvrez les producteurs près de chez vous</h1>
  
  <%= render "shared/farmList" %>
</section>

  <%= render 'shared/ctaProducteur' %>