<div class="my-5 home-prod-container ">
    <div class=" row">
        <div class="col home-us-p">
            <%= image_tag ("home-prod.png"), class: ""%>
        </div>
        <div class="col home-us-p">
            <div class="ps-5">
                <h3 class="text-white fw-bold">Vous êtes producteur ? </h3>
                <p class="text-white">Enregistrez votre ferme pour faciliter votre gestion de commandes<p>
                <%= link_to 'Enregistrer ma ferme', new_farm_path, class: 'btn btn-primary stretched-link border-0 button-home-prod mb-5'%>
            </div>
        </div>
    </div>
</div>