<footer class="row footer">
    <div class="col"><%= image_tag "placeholder.png", alt: "logo" %></div>

    <div class="col">
        <ul>
            <li><h3>A propos</h3></li>
            <li>Nos valeurs</li>
            <li>Comment ça marche</li>
            <li>Charte producteur</li>
        </ul>
    </div>

    <div class="col">
        <ul>
            <li><h3>Informations</h3></li>
            <li>FAQ</li>
            <li>Conditions générales d'utilisation</li>
            <li>Politique de confidentialité</li>
            <li>Mentions légales</li>
        </ul>
    </div>
</footer>