
<div class="homegrid">
    <%#<%= link_to pages_dashboardProductor_path do %>
        <%#<div class="productor">Je suis producteur</div>
    <% end %>
    <%#<%= link_to farms_path do %>
        <%#<div class="consumer">Je suis consommateur</div>
    <% end %>
    <div class="homeheader">
        <%= image_tag ("logo.png"), class: "logo"%>
        <h1>VITRINE VERTE</h1>
    </div>
</div>

