<section class="container">
    <p>En quelques clics créez votre espace en ligne. C’est notre façon d’aider les producteurs</p>

    <button class="btn btn-primary">Créer mon espace en ligne</button>
</section>

<section class="container">
    <h1>Vitrine verte et vous...</h1>
    <div>
        <div>
            <h2>Des producteurs mis en avant</h2>
            <p>En facilitant la prise de commande, les producteurs sont mis en avant.</p>
        </div>
        <div>
            <h2>Une aide dans la prise de commande</h2>
            <p>Vous ne savez pas comment gérer vos commandes ? Nous sommes là pour vous aider</p>
        </div>
        <div>
            <h2>Des produits de qualité</h2>
            <p>Nos producteurs sélectionnent leur produits avec amour et professionnalisme. Soyez sûr(e) de leur provenance et de leur qualité.</p>
        </div>
    <div>
</section>