
<div class="container homegrid">
    <div class="productor">
        <%= link_to "Je suis producteur", pages_dashboardProductor_path %>
    </div>
    <div class="consumer">
        <%= link_to "Je suis consommateur" %>
    </div>
</div>