// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.homegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100vh;
}

.productor{
    background-color: rgb(218, 218, 218);
    align-items: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
}

.consumer{
    background-color: rgb(218, 218, 218);
    align-items: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
}