<footer class="bg-light pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-1">
        <%= image_tag "logo.svg", alt: "logo", class: 'img-fluid' %>
      </div>
      <div class="offset-md-3 col-md-3">
        <ul class="list-unstyled">
          <li>A propos</li>
          <li>Nos valeurs</li>
          <li>Comment ça marche</li>
          <li>Charte producteur</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>FAQ</li>
          <li>Conditions générales d'utilisation</li>
          <li>Politique de confidentialité</li>
          <li>Mentions légales</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
