
* {
  margin: 0;
  box-sizing: border-box;
}

footer {
  background-color: rgba(214, 214, 214, 0.667);
  width: 100%;
}

.logo-nav{
  width: 50px;
}

.navbar-brand{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  background-color: #0E1F10;
}

.homegrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 33px;
}

.homeheader {
  height: 500px;
  grid-column: 1 / 13;
  overflow: hidden;
  background-image: url('home-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeheader .logo {
  width: 150px;
}

.homeheader h1 {
  color: white;
  margin-top: 50px;
}